# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Raw dataset files
data/raw/**/*.zip
data/raw/**/*.mat
data/raw/**/*.csv
data/raw/**/*.xlsx
data/raw/**/*.xls

# Interim and processed large files
data/interim/**/*.csv
data/interim/**/*.parquet
data/processed/**/*.csv
data/processed/**/*.parquet

# OS files
.DS_Store
Thumbs.db
__pycache__/
*.pyc
